<?xml version="1.0"?>
<robot name="line_follower" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="silver">
    <color rgba="0.700 0.700 0.700 1" />
  </material>
  <material name="black">
    <color rgba="0 0 0 1" />
  </material>
  <material name="silver1">
    <color rgba="0.700 0.700 0.700 0" />
  </material>
  <material name="red">
  <color rgba="1 0 0 1"/>
</material>



</robot>